{% block head %}

    <title>EL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <h1>EL</h1>
    <table class="rounded-table">
        <thead>
            <tr>
                {% for i in table_head %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            <tbody>
                {% for index, i in table_content %}
                    <tr>
                        {% for j in i %}
                            <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

{% endblock %}